{% extends 'base.html' %}


{% block content %}

<section class="container mt-5">

            <p class="display-6 fw-bold" align="center">
               "THIS IS THE LIST OF THE ITEMS AVAILABLE IN THE STORE AT REAL TIME"
            </p>
</section>

<div class="p-3 mb-2 bg-success-subtle text-success-emphasis">

<!--<div class="card mx-auto" style="width: 76rem;">-->
<div class="text-bg-primary p-3">

  <div class="card-body">
    <h5 class="card-title mb-3">All Items in store</h5>
          <form method='POST' action=''>{% csrf_token %}
            {{form.as_p}}
            <input class="btn btn-primary mybutton" type="submit" value='search'/>


          </form>



<div class="p-3 mb-2 bg-warning-subtle text-warning-emphasis">

    <table class="table table-bordered table-success">
      <thead>
        <tr class="table-danger">
          <th scope="col">Category</th>
          <th scope="col">Item name</th>
          <th scope="col">Quantity in store</th>
          <th scope="col">Created by</th>
          <th scope="col">Date created</th>
          <th scope="col">Comment</th>
          <th scope="col">Update</th>
         <th scope="col">Delete</th>

        <tr/>
      </thead>
      <tbody>
          {% for item in items %}
          <tr>
            <td>{{item.category}}</td>
            <td>{{item.name}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.created_by}}</td>
            <td>{{item.created_date}}</td>
            <td>{{item.comment}}</td>
            <td><a href="{% url 'update_item' item.pk %}"><small>Update</small></a> </td>
            <td><a href="{% url 'delete_item' item.pk %}"><small>DELETE</small></a> </td>
          <!--  <td><span class="badge bg-primary">Primary</span></td>-->
          {% endfor %}

      </tbody>
    </table>
    </div>
  </div>
</div>
</div>

</div>

 {% include 'store/pagination.html' with page=items %}



{% endblock content %}